.advantages {
  padding: 110px 0 120px;
  color: $color-tangaroa;
  background-color: $color-quartz;
  background-image: image-set(
    url("../img/bg-img/bg-advantages-desk.webp") 1x,
    url("../img/bg-img/bg-advantages-desk.jpg") 1x,
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include retina {
    background-image: image-set(
      url("../img/bg-img/bg-advantages-desk@2x.webp") 2x,
      url("../img/bg-img/bg-advantages-desk@2x.jpg") 2x
    );
  }

  @include vp-1023 {
    padding: 90px 0 100px;
    background-image: image-set(
      url("../img/bg-img/bg-advantages-tabl.webp") 1x,
      url("../img/bg-img/bg-advantages-tabl.jpg") 1x
    );

    @include retina {
      background-image: image-set(
        url("../img/bg-img/bg-advantages-tabl@2x.webp") 2x,
        url("../img/bg-img/bg-advantages-tabl@2x.jpg") 2x
      );
    }
  }

  @include vp-767 {
    padding: 57px 0 66px;
    background-image: image-set(
      url("../img/bg-img/bg-advantages-mob.webp") 1x,
      url("../img/bg-img/bg-advantages-mob.jpg") 1x,
    );

    @include retina {
      background-image: image-set(
        url("../img/bg-img/bg-advantages-mob@2x.webp") 2x,
        url("../img/bg-img/bg-advantages-mob@2x.jpg") 2x
      );
    }
  }
}

.advantages h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  margin: 0;
  margin-bottom: 50px;
  text-align: center;

  @include vp-1023 {
    font-size: 26px;
  }

  @include vp-767 {
    font-size: 24px;
    margin-bottom: 30px;
  }
}

.advantages ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;

  @include vp-1023 {
    gap: 26px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 31px;
  }
}

.advantages h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  margin: 0;
  margin-bottom: 10px;

  @include vp-1023 {
    line-height: 140%;
  }

  @include vp-767 {
    max-width: 200px;
  }
}

.advantages p {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  margin: 0;
}

.advantages__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__item {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $color-alice-blue;
  padding: 80px 30px 45px;

  @include vp-1023 {
    padding: 70px 20px 22px;
  }

  @include vp-767 {
    padding: 71px 18px 19px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;
    width: 44px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;

    @include vp-1023 {
      top: 26px;
      left: 20px;
      width: 36px;
      height: 26px;
    }

    @include vp-767 {
      top: 28px;
    }
  }

  &--liner::before {
    background-image: url("../img/svg/icon-liner.svg");
  }

  &--all-inclusive::before {
    background-image: url("../img/svg/icon-all-inclusive.svg");

    @include vp-767 {
      top: 25px;
      left: 18px;
    }
  }

  &--zodiac::before {
    background-image: url("../img/svg/icon-zodiac.svg");

    @include vp-767 {
      top: 21px;
    }
  }
}
