.booking {
  padding: 49px 0 51px;
  color: $color-tangaroa;
  background-color: $color-alice-blue;
  background-image: image-set(
    url("../img/bg-img/bg-booking-desk.webp") 1x,
    url("../img/bg-img/bg-booking-desk.jpg") 1x
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include retina {
    background-image: image-set(
      url("../img/bg-img/bg-booking-desk@2x.jpg") 2x,
      url("../img/bg-img/bg-booking-desk@2x.webp") 2x
    );
  }

  @include vp-1023 {
    padding: 88px 0 100px;
    background-image: image-set(
      url("../img/bg-img/bg-booking-tabl.webp") 1x,
      url("../img/bg-img/bg-booking-tabl.jpg") 1x,
    );

    @include retina {
      background-image: image-set(
        url("../img/bg-img/bg-booking-tabl@2x.webp") 2x,
        url("../img/bg-img/bg-booking-tabl@2x.jpg") 2x
      );
    }
  }

  @include vp-767 {
    padding: 59px 0 65px;
    background-image: image-set(
      url("../img/bg-img/bg-booking-mob.webp") 1x,
      url("../img/bg-img/bg-booking-mob.jpg") 1x
    );

    @include retina {
      background-image: image-set(
        url("../img/bg-img/bg-booking-mob@2x.webp") 2x,
        url("../img/bg-img/bg-booking-mob@2x.jpg") 2x
      );
    }
  }
}

.booking__container {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 30px;
  align-items: center;

  @include vp-1023 {
    display: block;
  }

  @media (min-width: 1023px) {
    padding: 0 80px;
  }
}

.booking__content {
  text-align: left;

  @include vp-1023 {
    padding-bottom: 52px;
    text-align: center;
  }

  @include vp-767 {
    padding-bottom: 32px;
  }
}

.booking h2 {
  margin: 0 0 7px;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  text-align: left;

  @include vp-1023 {
    margin-bottom: 5px;
    font-size: 34px;
    text-align: center;
  }

  @include vp-767 {
    margin-bottom: 14px;
    font-size: 24px;
    line-height: 130%;
  }
}

.booking p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  margin: 0;
  max-width: 355px;

  @include vp-1023 {
    margin: 0 auto;
    text-align: center;
  }

  @include vp-767 {
    font-size: $fz-default;
    line-height: 140%;
    max-width: 270px;
  }
}

.booking__form {
  max-width: 403px;

  @include vp-1023 {
    margin: 0 auto;
  }
}
