.card {
  position: relative;
  color: $color-alice-blue;
  background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, $color-tangaroa 100%);
  cursor: pointer;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card h3 {
  position: absolute;
  right: 0;
  bottom: 24px;
  left: 0;
  margin: 0 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;

  @include vp-1023 {
    bottom: 27px;
    margin: 0 35px;
  }

  @include vp-767 {
    bottom: 17px;
    margin: 0 25px;
  }
}

.card__content {
  position: absolute;
  z-index: -1;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-content: start;
  padding: 28px 25px 34px;
  color: $color-quartz;
  background-color: $color-tangaroa;
  opacity: 0;
  transition: opacity 0.3s ease-in;
  inset: 0;
  pointer-events: none;

  @include vp-1023 {
    padding: 28px 35px 34px;
  }

  @include vp-767 {
    padding: 28px 25px 34px;
  }
}

.card p {
  margin: 0 0 14px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;

  @include vp-1023 {
    margin-bottom: 16px;
  }
}

.card dl {
  margin: 0 0 4px;
  overflow: auto;
  font-family: $ff-default;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;

  scrollbar-color: $color-default-white $color-gray;
  scrollbar-width: auto;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: $color-gray;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-default-white;
    border: 2px solid $color-gray;
    border-radius: 20px;
  }
}

.card dt {
  font-weight: 500;
}

.card dd {
  margin: 0 0 13px;
}

.card:focus-within .card__content,
.card:hover .card__content {
  z-index: 1;
  box-shadow: 0 4px 35px $color-tangaroa-015;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
