.intro {
  padding: 120px 0 145px;
  color: $color-tangaroa;
  line-height: 150%;

  @include vp-1023 {
    padding: 90px 0;
  }

  @include vp-767 {
    padding: 56px 0 85px;
  }
}

.intro__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  align-items: center;

  @include vp-1023 {
    column-gap: 30px;
    align-items: flex-start;
  }

  @include vp-767 {
    display: block;
  }
}

.intro__content {
  min-width: 512px;

  @include vp-1023 {
    min-width: 324px;
  }

  @include vp-767 {
    min-width: 290px;
    margin-bottom: 43px;
  }
}

.intro h2 {
  margin: 5px 0 32px;
  font-weight: 600;
  font-size: 28px;

  @include vp-1023 {
    margin: 0 0 18px;
    font-size: 26px;
    line-height: 140%;
  }

  @include vp-767 {
    font-size: 24px;
  }
}

.intro p {
  max-width: 535px;
  font-weight: 400;
  font-size: $fz-default;
  margin: 0;
}

.intro img {
  @include vp-1023 {
    margin-top: 10px;
  }
}
